[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
from = "/fr/*"
to = "/:splat"
status = 301

[[redirects]]
from = "/fr"
to = "/"
status = 301

[[redirects]]
from = "/en"
to = "/en/"
status = 301

[[redirects]]
from = "/de"
to = "/de/"
status = 301